<nav class="navHeader">
    <section class="left">
        <img src="/logoo.jpg" width="60" height="50">
    </section>

    <section class="center">
        <input type="search" name="" id="">
        <button> <mat-icon> search </mat-icon> </button>
    </section>

    <section class="right">
        <a href="/atendimento"> <mat-icon> headset_mic </mat-icon> Atendimento </a>
        <a href="/login"> ENTRAR/CADASTRE-SE </a>

        <button class="btn-cart">
            R$00,00
            <mat-icon s matBadge="0">shopping_cart_checkout</mat-icon>
        </button>
    </section>
</nav>